/*TODO: Fade Background Out Animation*/

body{
    background-color: hsla(51, 78%, 75%, 0.294);
    font-family: Bahnschrift;
    font-weight: bold;
}


#focus{
    background-color: #3F3F3F;
    margin-top: 50px;
    font-size: 200px;
    line-height: 180px;
    padding-top: 20px;
    color: #DBDB93;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

#info{
    font-size: 100px;
    color:#FAFAFA;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate; 
}


@keyframes example {
    0%   { left:0px; top:-600px;}
    10%  { left:0ps; top:0px;}
    90%  { left:0px; top:0px;}
    100% { left:0px; top:-600px;}
}