/* ############  font faces  ############*/


@font-face {
  font-family: 'roboto_black';
  src: url('../fonts/Roboto-Black.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}



label{ /*FIXME: useless?*/
  color:var(--white);
  text-align: center;
}


:root {
    --yellow: #DBDB93;
    --red: #DBA993;
    --white: #FAFAFA;
    --primaryGrey: #474747;
    --darkerGrey: #3F3F3F;
    --lighterGrey:  #707070;
    --mixedColor: #DBC493
}

*{
    /*old bahnschrift styling*/
    /* font-family: Bahnschrift SemiBold; */

    /*new commercial license roboto styling*/
    font-family: roboto_bold;
    letter-spacing: -.07em;
    
    /*stops user from interacting with text (copy, etc)*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus{
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#main-background{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url("images/bg.png");*/
    background-image: url("../images/standard-bg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
 
}

button{
    background: none;
    border: none;
}

/*############  Title Bar   #######################################################################*/

#title-bar{
    -webkit-app-region: drag;
    background-color: var(--darkerGrey);
    line-height:20px;
}

#title-logo{
    -webkit-app-region: drag;
    /*font-family: Bahnschrift SemiBold;*/
    
    color: var(--yellow);
    letter-spacing: -6px;
    font-size: 49px;
    line-height: 40px;
}

#about-box{
  margin-left: -100px;
}

#about:hover{
    color: var(--yellow);
}

#about{
    -webkit-app-region: no-drag;
    color: var(--lighterGrey);
    margin-top: 10px;
    margin-left: -3px;


}

  /*MAC minimize close*/

#btns-mac-box{
  padding-left: 13px;
  margin-top: 1px;
}


#btns-mac-box:hover > #close-mac > #close-mac-svg-unhovered{
  display: none;
}

#close-mac-svg-hovered{
  display: none;
}

#btns-mac-box:hover > #close-mac > #close-mac-svg-hovered{
  display: inline;
}

.seperator-mac-btns{
  padding: 1.5px;
  padding-top:0px;
  padding-bottom:0px;
  line-height: 40px;
}

#btns-mac-box:hover > #minimize-mac > #minimize-mac-svg-unhovered{
  display: none;
}

#btns-mac-box:hover > #minimize-mac > #minimize-mac-svg-hovered{
  display: inline;
}

#minimize-mac-svg-hovered{
  display: none;
}



/*settings*/
#settings-dropdown{
  height: 450px;
  width: 180px!important;
  border: 1px solid var(--darkerGrey);
  border-radius: 0px;
  left: -11px!important;
  top: 5px !important;
}

#settings{
    -webkit-app-region: no-drag;
    color: var(--lighterGrey);
    padding: 0px!important;
    padding-left: 5px!important;
    margin: 0px !important;
    background: var(--darkerGrey);
    margin-left: 2px!important;
    margin-top: 9px!important;
    border: none;
}

#focus-lost-sound-switch{
  margin-left: -9px;
  margin-right: 10px;
}

#focus-gained-sound-switch{
  margin-left: -9px;
  margin-right: 10px;
}

#focus-fail-sound-switch{
  margin-left: -9px;
  margin-right: 10px;
}

#focus-completion-sound-switch{
  margin-left: -9px;
  margin-right: 10px;
}


#settings-dropdown-box{
  margin-left: 10px;
  margin-right: 80px;
  padding: 0px;
}

#languages-header{
  color: var(--lighterGrey);
}

#sounds-header{
  color: var(--lighterGrey);
  
}

#restart-info{
  visibility: hidden;
  color: var(--red);
  margin-bottom: 4px!important;
}

#restart-info:hover{
  color: var(--darkerGrey);
  background-color: var(--red);
  margin-bottom: 4px!important;
}

#language-radio-buttons{
  
  margin-left: 14px!important;
}

#radio-label-english{
  font-size: 15px!important;
  margin-top: 3px!important;
}

#radio-label-russian{
  font-size: 15px!important;
  margin-top: 3px!important;
}
#radio-label-german{
  font-size: 15px!important;
  margin-top: 3px!important;
  
}

#focus-lost-sound-label{
  margin-left: -2px;
  margin-top: 2px!important;
}

#focus-gained-sound-label{
  margin-left: -2px;
  margin-top: 2px!important;
}

#focus-completion-sound-label{
  margin-left: -2px;
  margin-top: 2px!important;
}

#focus-fail-sound-label{
  margin-left: -2px;
  margin-top: 2px!important;
}

.settings-dropdown-divider{
  margin-top: 0px;
}

.settings-dropdown-heading{
  color: var(--lighterGrey);
  margin-bottom: 10px!important;
}

#settings:hover{
    color: var(--yellow);
}

#settings:focus{
    box-shadow: none!important;
}

#version-number-field{
  margin: 0!important;
  color: var(--lighterGrey);
}
  /*search*/

      #search{
          
          -webkit-app-region: no-drag;
          margin-left: -10px!important;
          padding: 0px!important;
          line-height: 21px!important;
          padding-left: 10px!important;
          border-radius: 30px!important;
          color: var(--yellow)!important;
          background-color: var(--primaryGrey)!important;
          border: solid!important;
          border-color: var(--primaryGrey)!important;
          margin-top: 8px!important;
          
      }

      #search::placeholder{
        color: var(--lighterGrey)!important;
      }

      #search:hover{
        border: solid!important;
      }

      #search:focus{
        box-shadow: none!important;
      }

      /* Tooltip search */
    
      .tooltip-search {
        position: relative;
        display: inline-block;/* If you want dots under the hoverable text */
      }
      
      
      .tooltip-search .tooltip-search-text  {
        top: 115%!important;
        right: -58%;
        visibility: hidden;
        width: 290px;
        height: 175px;
        background-color: var(--darkerGrey);
        color: var(--white);
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 8px;
        padding-bottom: 6px;
        
       
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
      }
      

      #tooltip-search-box{
        visibility: hidden;
      }

      .search-tag-result{
        margin-left: -10px;
        text-align: left!important;
        color: var(--yellow);
        margin-bottom: 6px;
        margin-top: 6px;
    
      }

      .search-tag-duration{
        text-align: left;
        padding-left: 2px!important;
        color: var(--white);
        margin-bottom: 5px;
        margin-top: 5px;
      }


  /*Window Management*/

    #window-management{
        -webkit-app-region: no-drag;
        margin-left: 100px;
        padding-bottom: 0px;
        line-height: 20px;
        margin-top: 1px;
        
    }

    #minimize-main{
        -webkit-app-region: no-drag;
        padding-top: 10px;
        text-align: center;
        margin-left: 20px;
    }

    #additional-fields{
      margin-left: -70px;
    }

    /*minimize and close*/

    #minimize-main{
      margin-left:110px;
      padding-left: -20px;
    }

    #minimize-main:hover{
        background-color: var(--yellow);
    }

    #close-main{
        -webkit-app-region: no-drag;
        padding-top: 10px;
        text-align: center;
    }

    #close-main:hover{
        background-color: var(--red);
    }

/*MANAGE TAGS*/
#manage-tags-btn{
  background-color: var(--darkerGrey);
  -webkit-app-region: no-drag;
  line-height: 10px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;
  color: var(--yellow);
  margin-left: -23px;
}

#manage-tags-btn:hover{
  background: var(--lighterGrey)!important;
  color: var(--white)!important;
}

#manage-tags-dropdown-box{
  -webkit-app-region: no-drag;
  
}


#manage-tags-dropdown{
  -webkit-app-region: no-drag;
  width: 200px;
  height: 380px;
  left: -1px !important;
  top: 5px !important;
  border-width: 1px!important;
}


#add-tag-input{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-top: 5px!important;
  margin-bottom: 20px!important;
  margin-right: 30px;
  height: 30px;
  /* border-radius: 20px; */
  border-radius: 0px!important;
  line-height: 30px!important;
  background-color: var(--primaryGrey);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 3px;
  color: var(--white);
  border-color: var(--darkerGrey);
}

#add-tag-input::placeholder{color: var(--lighterGrey)}

#add-tag-input:focus{
  box-shadow: none;
}

#add-tag-input:hover::placeholder{
  color: var(--white);
}

#add-tag-input-button{
  padding-left: 10px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-top: 5px!important;
  margin-bottom: 0px!important;
  margin-left: -12px;
  margin-right: 2px;
  height: 30px;
  border-radius: 20px!important;
  background-color: var(--yellow);
  border: solid;
  color: var(--darkerGrey);
  border-color: var(--primaryGrey);
}

#add-tag-input-button:hover{
  background-color: var(--white);
  text-align: center;
  color: var(--darkerGrey);
  border-radius: 30px;;
} 


/* #add-tag-input:hover{
  background-color: var(--primaryGrey);
  border-color: var(--white);
} */

#tag-resolve-headline{
  color: var(--red);
  margin-left: -4px;
  margin-bottom: -5px;
}

#tag-resolve-headline:hover{
  background-color: var(--primaryGrey);
}

.tag-resolve{
  margin-top: 10px;
  margin-left: -4px;
  color: var(--white);
}

.tag-resolve:hover{
  background-color: var(--red)!important;
  color: var(--darkerGrey)!important;
  border-radius:2px;
}

#add-tag-input-button-box{
  margin-left: -12px;
}

#add-tag-input-button-box:hover{
  background-color: none!important;
  background: none!important;
}

/* ############  Calendar  #######################################################################*/

#calendar-btn{
  margin-left: -12px;
  background: none !important;
  border: none !important;
}

#calendar-btn:focus{
  box-shadow: none!important;
}

#dropdown-arrow{
  pointer-events: none!important;
}

#calendar-btn:hover > #dropdown-arrow > #Path_10{
  stroke: var(--yellow);
}

  /*OFFCANVAS*/

.offcanvas-body{
  background-color:var(--primaryGrey)!important;
  width: 480px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.offcanvas-header{
  background-color: #1F1F1F;
  margin-bottom: -22px;
  width: 480px !important;
}

.offcanvas-title{
  color: var(--yellow);
  margin-top: -11px;
  padding-bottom: 11px;
}


/* ############  Buoy Main Input Fields #######################################################################*/

#timer-box{
    margin-top:-8px;
    background-color: var(--primaryGrey);
    border-radius: 35px;
}

#svg-hrs-up-box{
    margin-top: 65px;
    margin-left: -30px;
}

#svg-min-up-box{
    margin-top: 65px;
    margin-left: -35px;
}

#svg-hrs-down-box{
    margin-top: -5px;
    margin-left: 53px;
}

#svg-min-down-box{
    margin-top: -5px;
    margin-left: 5px;
    
}


#time-hours-add-btn:hover > #svg-hrs-up-box > #hrs-btn-up{
    stroke: var(--yellow);
}

#time-minutes-add-btn:hover > #svg-min-up-box > #min-btn-up{
    stroke: var(--yellow);
}

#time-hours-subtract-btn:hover > #svg-hrs-down-box > #hrs-btn-down{
    stroke: var(--yellow);
}

#time-minutes-subtract-btn:hover > #svg-min-down-box > #min-btn-down{
    stroke: var(--yellow);
}



#hours{
    color: var(--white);
    width:10px;
    margin-top: 5px;
    font-size: 73px;
    padding: 0;
    margin-left:7px;
    text-align: justify; 
    line-height: 73px;
}

#semicolon{
    width:10px;
    color: var(--yellow);
    margin-top: 7px;
    font-size: 73px;
    padding: 0;
    text-align: center;
    line-height: 60px;
    margin-right: -18px;
}

#minutes{
    color: var(--white);
    width:10px;
    margin-top: 5px;
    font-size: 73px;
    padding: 0px;
    margin-right:-8px;
    text-align: justify; 
    line-height: 73px;
    padding-right: 40px;
}

#unit-hours{
    color: var(--white);
    margin-top: -15px;
    margin-left: 3px;
    
}

#unit-minutes{
    color: var(--white);
    margin-top: -15px;
    margin-left: 54px;
}


#tag-box{
    margin-top: -10px; 
    margin-left: 76px;
}

/*TAG BUOY*/

#tag-buoy-dropdown-box{
  margin-left: 70px;
}

#tag-buoy-btn{
  margin-left: 1px;
  margin-top: -6px;
  border-radius: 30px;
  padding: 0;
  border: solid;
  border-color: var(--darkerGrey);
}

#tag-buoy-btn[disabled]{
  opacity: 1;
}

#tag-buoy-btn:hover{
  border-color: var(--lighterGrey);
}


#tag-buoy-dropdown{
  background-color: var(--yellow);
  border-radius: 30px;
  border: none;
  left: -39px !important;
  top: 2px !important;
  width: 195px!important;
  height: 300px!important;
}

#tag-box:hover > #Rectangle_15{fill: var(--lighterGrey)}
#tag-box:hover > #tag {fill: var(--white)} 

#tag-buoy-dropdown-heading{
  text-align: center;
  color: var(--lighterGrey);
  line-height: 5px;
  margin-bottom: 2px;
}

#tag-buoy-dropdown-heading:hover{
  background-color: var(--yellow)!important;
}

.dropdown-item-tag{
  margin-top: 5px;
  color: var(--primaryGrey)!important;
  text-align: center;
}

.dropdown-item-tag:hover{
  color: var(--yellow)!important;
  background-color: var(--darkerGrey)!important;
}

/*Tag buoy tooltip*/


.tooltip-tag {
  position: relative;
  display: inline-block;/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-tag .tooltiptext {
  top: -8px;
  right: 115%;
  visibility: hidden;
  width: 120px;
  background-color: var(--red);
  color: var(--dar);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  overflow: hidden; /*TODO: FIXME: adjust width of all tooltips*/
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-tag:hover .tooltiptext {
  visibility: visible;
}

.tooltip-tag .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--red);
}




/*FOCUS DROPDOWN*/

#focus-dropdown{
  margin-right: 300px;
}

#focus-btn {
  margin-top: -2px;
  margin-bottom: -20px;
  background-color: var(--primaryGrey);
  border-radius: 100%;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 6px;
  padding-bottom: 10px;
  border: none;
  font-size: 40px;
}

#focus-btn:focus{
  color: var(--darkerGrey);
  background-color: var(--yellow);
}

#focus-btn:hover{
  color: var(--darkerGrey);
  background-color: var(--yellow)
}

.dropdown-menu{
  background-color: var(--primaryGrey);
}


.dropdown-menu-center {
  border: none;
  border-radius: 30px;
  left: -50px !important;
  top: 2px !important;
}

.dropdown-menu-ru {
  left: -42px !important;
  top: 2px !important;
}

.dropdown-menu-fr {
  left: -52px !important;
  top: 2px !important;
}


#focus-dropdown-heading{
  text-align: center;
  color: var(--lighterGrey);
}

#focus-dropdown-heading:hover{
  background-color: var(--primaryGrey);
}

#focus-dropdown-box{
  margin-left: 82px;
  margin-top: -20px;
}

#focus-dropdown{
  width: 195px!important;
  height: 380px!important;
  
}
    /*FOCUS DROPDOWN ITEMS*/

    .dropdown-item{
      margin-bottom: -10px;
    }

    .dropdown-item:hover{
      background-color: var(--primaryGrey);
    }

    .form-check-input:checked, .form-check-input:active, .form-check-input:hover{
      background-color: var(--yellow)!important;
      border-color: var(--darkerGrey);
      box-shadow: none;
      -webkit-box-shadow: none;
      color: var(--yellow)!important;
      fill: var(--yellow)!important;
      

    }

    .form-check-input:checked:hover{
      background-color: var(--red)!important;
    }

    .form-check-input:not(:checked){
      background-color: white;
      border-color: white;
      box-shadow: none;
      -webkit-box-shadow: none;
      color: var(--red)!important;
      
    }

    .form-check-input{
      width: 17px;
      height: 17px;
      margin-right: -5px;
    }

    label{

      margin-bottom: 10px;

    }



/*START BUTTON*/

#start-btn{
  margin-left: 72px;
  
}

#start-box:hover > #Rectangle_13{fill: var(--white);}
#start-box:hover > #start {fill: var(--darkerGrey)} 
    


/* #start{
    transform: translate(32px, 21px);
} */


/* ############ DOTS (5 most recent tasks)  #######################################################*/


#dot-1 {
    height: 44px;
    width: 46px;
    background-color: var(--lighterGrey);
    border-radius: 50%;
    display: inline-block;
    margin-top: 270px;
    margin-left: 10px;
  }

#dot-2 {
    height: 58px;
    width: 61px;
    background-color: var(--lighterGrey);
    border-radius: 50%;
    display: inline-block;
    margin-top: 290px;
    margin-left: 10px;
}

#dot-3 {
    height: 80px;
    width: 84px;
    background-color: var(--lighterGrey);
    border-radius: 50%;
    display: inline-block;
    margin-top: 260px;
    margin-left: 25px;
}

#dot-4 {
    height: 100px;
    width: 105px;
    background-color: var(--lighterGrey);
    border-radius: 50%;
    display: inline-block;
    margin-top: 200px;
    margin-left: 62px;
}

#dot-5 {
    height: 119px;
    width: 128px;
    background-color: var(--lighterGrey);
    border-radius: 50%;
    display: inline-block;
    margin-top: 120px;
    margin-left: 115px;
}




.tooltip-dot {
  position: relative;
  display: inline-block;/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-dot .tooltiptextdot {
  top: -8px;
  right: 115%;
  visibility: hidden;
  width: 120px;
  background-color: var(--yellow);
  color: var(--darkerGrey);
  text-align: center;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 25px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-dot:hover .tooltiptextdot {
  visibility: visible;
}



#chosen-dot-tooltip-dot-1{
  top: 55% !important;
  left: -1%!important;
}
#chosen-dot-tooltip-dot-2{
  top: 55% !important;
  left: -30%!important;
}
#chosen-dot-tooltip-dot-3{
  top: 55% !important;
  left: -50%!important;
}
#chosen-dot-tooltip-dot-4{
  top: 48% !important;
  left: -15%!important;
}
#chosen-dot-tooltip-dot-5{
  top: 30% !important;
  left: 1%!important;
}



/* ############ Stats  #######################################################*/
#stats-box{
  margin-top: 40px;
}

#kdRatio{
  color: var(--white);
  font-size: 180%;
}

#most-used-tag{
  background-color: var(--yellow);
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 100px;
  border: none;
  font-size: 150%;
  color: var(--yellow);
  margin-top: 35px;
  color: var(--darkerGrey);
}

.stat-description{
  color: var(--lighterGrey);

}

#most-used-tag-description{
  margin-top: 7px;
}

#avg-duration{
  color: var(--white);
  font-size: 180%;
  margin-top: 35px;
  margin-bottom: 3px;
  line-height: 12px;
}


#avg-duration-description{
  color: var(--lighterGrey);
}

#unit-specification{
  font-size: 13px;
  padding-left: 2px;
}


/* ############ Calendar  #######################################################*/


#monthAndYear{
  margin-bottom: -70px;
  color: var(--lighterGrey);
}

.footer-container-calendar{
  visibility: hidden;
  margin-top: -50px;
}

.wrapper {
  margin: 15px auto;
  margin-top: 60px;
  max-width: 1100px;
}

.container-calendar {
  background: var(--primaryGrey);
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 3;
  background: var(--primaryGrey);
  color: var(--lighterGrey);
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: -10px;
}

.button-container-calendar button:hover{
  color: var(--yellow);
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar th{
  color: var(--lighterGrey)!important;
}


.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid var(--lighterGrey);
  text-align: center;
  vertical-align: top;
}

.date-picker{

  color: var(--white);
}


.date-picker.selected {
  font-weight: bold;
  outline: 3px solid var(--white);
}

.date-picker.selected span {
  
  border-bottom: 2px solid currentColor;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: -3em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}




/*Anims*/

#loadingButton{
    display: none;
    margin: 0;
    padding:0;
    margin-left: 8px;
}

  .loadingDot {
    display: inline-block;
    width: 10px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--red);
    margin-bottom:20px;
  }


  .loadingDots .loadingDot:nth-last-child(1) {
    animation: animLoad 3s 2.5s infinite;
  }
  .loadingDots .loadingDot:nth-last-child(2) {
    animation: animLoad 3s 2s infinite;
  }
  .loadingDots .loadingDot:nth-last-child(3) {
    animation: animLoad 3s 1.5s infinite;
  }

  @keyframes animLoad {
    0% {
      width: 10px;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 10px;
    }
  }


  
.fade-out {
    color: #ffffff;
    font-size: large;
    font-family: helvetica;
    text-align: center;
    opacity: 0;
    animation: fadeout .5s;
  }

  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

.fade-in {
    color: #ffffff;
    font-size: large;
    font-family: helvetica;
    text-align: center;
    opacity: 1;
    animation: fadein .5s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }


#fade-in-bg{
    
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size:100% 100%;
    background-repeat: no-repeat;
     
    background-image: url('../images/focus-bg.png');
    transition: background .5s linear;
    
  }

  #fade-out-bg{
    
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size:100% 100%;
    background-repeat: no-repeat;
     
    background-image: url('../images/standard-bg.png');
    transition: background .5s linear;
    
  }


  .animated-bounce {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  
  @keyframes bounce {
    0%{
      transform: translateY(0);
  }
  30%{
      transform: translateY(-8px);
  }
  50%{
      transform: translateY(5px);
  }
  70%{
      transform: translateY(-2px);
  }
  80%{
      transform: translateY(2px);
  }
  90%{
      transform: translateY(2px);
  }
  100%{
      transform: translateY(0);
  }
  }
  .bounce {
    animation-name: bounce;
  }