body{
    background-color: hsla(7, 20%, 49%, 0.623);
    font-family: Bahnschrift;
    font-weight: bold;
}


#warning{
    background-color: #DBDB93;
    margin-top: 50px;
    font-size: 200px;
    line-height: 180px;
    color: #3F3F3F;
}

#info{
    font-size: 100px;
    color:#FAFAFA;
}

.badckground-buoy{
    background: url(images/Buoy.svg);
    background-position: right bottom;
}